<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Event Management</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'sign_.css' %}" />
    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>
  <body>
    {% comment %} <div style="background:red;width:100%;">hey</div> {% endcomment %}
    <div class="fullpg">
      <div class="firstpg">
      <div class="nav glass">
        <div class="logo">
          <img src="" alt="" />
          <!-- <span>logo</span> -->
        </div>
        <div class="navlinks" id="navlinks">
          <a class="glass" style="padding:4px 10px" href="home">Home</a>
          <a class="glass" style="padding:4px 10px" href="about_us">About us</a>
          <a class="glass" style="padding:4px 10px" href="">Contact</a>
        </div>
        <div class="profile">
          <a class="glass" style="padding:4px 10px; text-decoration:none;" href="signin">Login</a>
        </div>

        <div class="bar" id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>

      </div>
      <div class="bgea ellipse"></div>
      <div class="bgeb ellipse"></div>
      <div class="bgec ellipse"></div>
      <!-- <div class="bged ellipse"></div>
      <div class="bgee ellipse"></div>
      <div class="bgef ellipse"></div>
      <div class="bgeg ellipse"></div> -->
       -->
      <div class="tag">
        <h1>
          Life is all about<br />
          management.
        </h1>
        <p>
          This website will manage all event which is going on or will be held in SICSR. We bring a fresh, unique approach in managing events in our college. It will be easier to access all event in one place.
        </p>
      </div>
      <div class="h_img">
        <img class="h_img " src="{% static 'animation_gif.gif' %}" alt="" />
      </div>
    </div>
      <center>
        <h1
          class="glass"
          style="
            padding: 15px 60px;
            width: fit-content;
            margin-bottom: 20px;
          "
        >
          Events
        </h1>
      </center> 
      <div class="allevents">
        <form class="category glass" method="post" action="home">
          {%csrf_token%}
          <div class="head_ing" style="display: flex">
            <h2 style="margin: 20px 0 0 20px">Sort By</h2>
            <button class="sign_button glass" type="submit">Apply</button>
          </div>
          <br />
          <div class="subcat glass">
            <h3>Time</h3>
            <br />
            <input type="checkbox" name="upcomming" {{check.upcomming}}/><span>Upcomming</span
            ><br />
            <input type="checkbox" name="ongoing" {{check.ongoing}}/><span>Ongoing</span
              ><br />
            <input type="checkbox" name="past" {{check.past}}/><span>Past Events</span>
            <p></p>
          </div>
          <div class="subcat glass">
            <h3>Genre</h3>
            <br />
            <input type="checkbox" name="technical" {{check.technical}}/><span>Technical</span
            ><br />
            <input type="checkbox" name="art" {{check.art}}/><span>Art</span><br />
            <input type="checkbox" name="music" {{check.music}}/><span>Music</span><br />
            <input type="checkbox" name="dance" {{check.dance}}/><span>Dance</span><br />
            <input type="checkbox" name="other" {{check.other}}/><span>Others</span>
            <p></p>
          </div>
          <div class="subcat glass">
            <h3>Clubs</h3>
            <br />
            <input type="checkbox" name="prayas_india" {{check.prayas_india}}/><span
              >Prayas India</span
            ><br />
            <input type="checkbox" name="hncc" {{check.hncc}}/><span>HnCC</span><br />
            <input type="checkbox" name="arts" {{check.arts}}/><span>Arts Club</span><br />
            <input type="checkbox" name="iete" {{check.iete}}/><span>IETE</span><br />
            <input type="checkbox" name="iste" {{check.iste}}/><span>ISTE</span><br />
            <input type="checkbox" name="model" {{check.model}}/><span>Model Club</span><br />
            <input type="checkbox" name="leo" {{check.leo}}/><span>LEO</span><br />
            <input type="checkbox" name="rotract" {{check.rotract}}/><span>Rotract Club</span
            ><br />
            <input type="checkbox" name="sports" {{check.sports}}/><span>Sports Club</span
            ><br />
            <input type="checkbox" name="nss" {{check.nss}}/><span>NSS</span><br />
            <input type="checkbox" name="eco" {{check.eco}}/><span>ECO Club</span><br />
            <input type="checkbox" name="sarjana" {{check.sarjana}}/><span>Sarjana</span><br />
            <input type="checkbox" name="ls" {{check.ls}}/><span>LS</span><br />
            <input type="checkbox" name="grs" {{check.grs}}/><span>GRS</span><br />
            <input type="checkbox" name="painting" {{check.painting}}/><span>Painting Wing</span
            ><br />
            <input type="checkbox" name="photographic" {{check.photographic}}/><span
              >Photographic Club</span
            ><br />
            <input type="checkbox" name="dhatvika" {{check.dhatvika}}/><span>Dhatvika</span><br />
            <input type="checkbox" name="quimica" {{check.quimica}}/><span>Quimica</span><br />
            <input type="checkbox" name="sae" {{check.sae}}/><span>SAE</span>
            <p></p>
          </div>
        </form>
        <div class="eventsec">
          {% for n in event %}
            <div class="event glass">
              <img class="event_img glass" src="media/{{n.poster}}" alt=""/>
                <div class="event_m ">
                  <h2 style="padding:20px 0 20px 0;">{{n.name}}</h2>
                  {% comment %} <div class="ram"> {% endcomment %}
                  <span><b>Club Organising : </b>{{n.club}}</span>
                  <span><b>Duration : </b>{{n.start}} to {{n.end}}</span>
                  <span><b>Genre : </b>{{n.genre}}</span>
                  <span><b>Eligibility : </b>{{n.eligibility}}</span>
                  <span><b>Prize : </b>{{n.prize}}</span>
                  <span><b>Registration Link : </b><i><a href="{{n.link}}" >{{n.link}}<a></i></span>
                  <span><b>Description </b>{{n.description}}</span>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


  <div class="footer">
    © 2020 Copyright:
  </div>


 <script>
  let bar = document.getElementById("bar")
  let navlinks = document.getElementById("navlinks")

  bar.addEventListener("click", openNav)

  function openNav(){
    navlinks.classList.toggle("show")
  }
  
 </script>
  </body>
</html>
